<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Shopping</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header flex align-center">
        <a href="" class="brand fs-20">
            Shopping
        </a>
        <div class="flex align-center">
            <a href="/">home</a>
            <a href="/products">show products</a>
            <% if(user.isAdmin){ %>
                <a href="/products/form">add products</a>
            <% } %>
            <a href="/users/register" class="register">register</a>
            <a href="/users/login" class="login">login</a>
            <% if(user){ %>
                <div class="flex flex-column align-center justify-center">
                    <a href="" class="fs-20 blue"><%= user.name %></a>
                    <% if(user.isAdmin){ %>
                        <p>Admin</p>
                    <% } %>
                </div>
                <a href="/users/logout">logout</a>
            <%  } %>
            <a href="/cart">
                <img src="/images/cart.webp" alt="">
            </a>
        </div>
    </div>
</header>
<main>
    <div class="products margin-3-0 padding-0-3">
        <p class="red text-center"><%= error %></p>
        <div class="products-list flex justify-center padding-0-3">
            <% products.forEach(p => { %>
                <div class="product-item">
                    <a href="/products/<%= p.id %>">
                        <img src="<%= p.image %>" alt="p.name">
                        <h3 class="fs-30 blue"><%= p.name %></h3>
                        <p class="fs-20 ">Rs <%= p.price %></p>
                    </a>
                    <a href="/cart/<%= p.id %>/add" class="fs-20 cart-btn btn-small btn red">Add to Cart</a>
                </div>
            <% }) %>
        </div>
    </div>
</main>
<%- include('partials/footer') -%>