<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>blog</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header align-center flex">
        <a href="" class="btn brand">
            <img src="/images/icon.png" alt="icon">
        </a>
        <div class="flex align-center">
            <a href="/" class="btn bg-blue">home</a>
            <a href="/users/register" class="btn bg-blue">register</a>
            <a href="/users/login" class="btn bg-blue">login</a>
            <% if(user){ %>
                <a href="/users/logout" class="btn bg-red">logout</a>
                <a href="" class="green"><%= user.firstName %><%= user.lastName %></a>
            <% }%>
        </div>
    </div>
</header>
<main>
  <section class="articles">
    <h1 class="blue text-center">articles</h1>
    <div class="flex">
        <% articles.forEach(a => { %>
            <div class="articles-list">
                <h3><%= a.title %></h3>
                <address><%= a.author %></address>
                <a href="/articles/<%= a.slug %>" class="btn bg-green">view article</a>
            </div>
        <% }) %>   
    </div>
    <div class="text-center">
        <a href="/articles/new" class="btn bg-blue">add article</a>
    </div>
</section>
</main>
<%- include('partials/footer') -%>