<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>blog</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header align-center flex">
        <a href="" class="btn brand">
            <img src="/images/icon.png" alt="icon">
        </a>
        <div class="flex align-center">
            <a href="/" class="btn bg-blue">home</a>
            <a href="/users/register" class="btn bg-blue">register</a>
            <a href="/users/login" class="btn bg-blue">login</a>
            <% if(user){ %>
                <a href="/users/logout" class="btn bg-red">logout</a>
                <a href="" class="green"><%= user.firstName %><%= user.lastName %></a>
            <% }%>
        </div>
    </div>
</header>
<main>
  <section class="single-article">
        <h1 class="blue text-center"><%= article.title %></h1>
        <address><%= article.author %></address>
        <p><%= article.description %></p>
        <small><%= article.likes %></small>
        <div class="flex justify-left">
            <a href="/articles/<%= article.slug %>/like" class="btn bg-green">like</a>
            <a href="/articles/<%= article.slug %>/dislike" class="btn bg-red">dislike</a>
        </div>
        <div class="flex justify-left">
            <a href="/articles/<%= article.slug %>/edit" class="btn bg-blue">edit</a>
            <a href="/articles/<%= article.slug %>/delete" class="btn bg-red">delete</a>
        </div>
        <div class="comments-area">
            <form action="/articles/<%= article.id %>/comments" method="post" class="form comment-form">
                <fieldset>
                    <label class="comment-label" for="">Add Comment</label>
                    <input class="form-control" type="text" name="title" id="" placeholder="enter comment title">
                    <input class="form-control" type="submit" value="Add Comment">
                </fieldset>
            </form>
            <h2>Comments</h2>
            <hr>
            <div class="comments">
                <% comments.forEach(c => { %>
                    <p class="commenttitle"><%= c.title %></p>
                    <a href="/comments/<%= c.id %>/edit" class="btn-small bg-blue">edit</a>
                    <a href="/comments/<%= c.id %>/delete" class="btn-small bg-red">delete</a>
                <% }) %>
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer') -%>